<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li class="p-name">
            {% if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif %}
            {%- if site.copyright -%}
            <li>&copy; {{site.copyright }} {{ 'now' | date: "%Y" }}</li>
            {%- endif -%}
        </ul>
      </div>
      
      <div class="footer-col">
        <a href="https://orcid.org/0000-0003-0429-5101">
          <span style="display : block;">
            <img src="../assets/imgs/svg/orcid-square.svg" alt="orcid.org/0000-0003-0429-5101" width="30" height="30">
            </span>
          </a>
        <a href="https://scholar.google.com/citations?user=lvfsM9wAAAAJ&hl=en">
          <span style="display : block;">
            <img src="../assets/imgs/svg/google-scholar-square.svg" alt="scholar.google.com/citations?user=lvfsM9wAAAAJ&hl=en" width="30" height="30">
            </span>
          </a>
        <a href="https://www.webofscience.com/wos/author/record/50349132">
          <span style="display : block;">
            <img src="../assets/imgs/svg/clarivate-square.svg" alt="www.webofscience.com/wos/author/record/50349132" width="30" height="30">
            </span>
          </a>
          
        </div>

      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
